.button-link {
    all: unset;
    align-items: center;
    background-color: var(--yellow);
    border: 1px solid;
    border-color: var(--rish-black);
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    height: 29px;
    justify-content: space-around;
    padding: 6px 9px;
    position: relative;
    width: 140px;
  }
  
  .button-link .button {
    color: #000000;
    font-family: "Allerta", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -0.5px;
    margin-top: -2.5px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .button-link:hover {
    background-color: var(--jasmine);
  }
  