.middle{
    padding-top: 2%;
    padding-left: 17%;
}
.box{
    width:30vh;
    background-color: rgb(255, 254, 254);
}

.links {
    color: rgb(145, 90, 90);
    transition: color 0.3s;
    font-size:17px; 
    border: none;
    background-color: rgb(255, 254, 254);
}
.links:hover {
    color: rgb(10, 10, 10);
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
}