.links {
  color: rgb(145, 90, 90);
  transition: color 0.3s;
  font-size:17px; 
  border: none;
  background-color: rgb(255, 254, 254);
}
.links:hover {
  color: rgb(10, 10, 10);
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
}
.navbar{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 2px;
    background-color: black;
}

.white-dropdown {
    background-color: rgb(255, 255, 255);
  }

  
  .white-dropdown .dropdown-item:hover {
    background-color: black;
    color: white;
  }
  
  .nav-link {
    color: rgb(182, 239, 241);
  }
  
