.flex-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    
}
.flex-items{
    display: flex;
    margin-top: 3vh;
    margin-bottom: 3vh;
    gap: 1.5rem; 
}
 .Bu-group{
    position: relative;
} 

