.container,
.container-fluid {
    display: flex;
    border: 2px solid #ccc; /* Light gray border for containers */
    border-radius: 10px; /* Slightly rounded corners for containers */
}

.row {
    border: 2px solid #ddd; /* Light gray border for rows */
    border-radius: 10px; /* Slightly rounded corners for rows */
}

[class*="col-"] {
    border: 2px solid #eee; /* Light gray border for columns */
    padding: 10px; /* Add padding for better visualization */
    border-radius: 10px; /* Slightly rounded corners for columns */
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mcqs{
    position: absolute;
    /* height: 20vh;
    width: 80vh; */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px; 
    
}
.padding{
    padding: 20px;
}

.quiz-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}